

.wrapper {
  padding-top: 50px;
  background-color:#166E52  ;
}

body h3 {
  margin-bottom: 23px;
  border-radius: 60px;

  
}

.navbar-brand a {
  color: #01AB87 ;

}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: auto;
  border-radius: 60px;
  color:#000000 ;
}

.table-wrapper {
  max-width: 700px;
  border-radius: 0.9rem;
  border-radius: 60px;
  
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 60px;
  color: rgba(214, 213, 232, 0.13);
  background-color:#11f3ab ;
  border-color: #022009;
  margin-right: 60px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  margin-top: 30px;
  color: #250404;
}

